.linktreeMain {
  max-width: 480px;
  margin: 0 auto;
  background-color: transparent;
  text-align: center;
  box-shadow: none;
}

.linktreeTitle,
.linktreeGroupTitle {
  color: var(--color-gold);
  text-align: center;
}

.linktreeTitle {
  padding-bottom: 16px;
}

.linktreeLinkGroup {
  width: 100%;
  text-align: center;
  display: grid;
  gap: 16px;
}

.linkList {
  list-style: none;
  padding: 16px 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.linktreeLinksList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 12px;
  justify-items: center;
  margin-bottom: 24px;
}

.linktreeLinkItem {
  width: 100%;
}

.linktreeLink {
  width: 100%;
}
