.container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: var(--fg-muted);
}

.option {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.activeOptionOffset {
  margin-left: -23px;
}

.label {
  font-size: 12px !important;
  line-height: 16px !important;
  transform: none !important;
  color: var(--fg-subtle);
  cursor: pointer;
  transition: color 0.15s ease-in-out;

  &:hover {
    color: var(--fg-base);
  }
}

.activeLabel {
  color: var(--fg-base);
}
