.homepage {
  padding-top: 24px;
  padding-bottom: 48px;
}

.homepageHero {
  max-width: 1200px;
  background-color: rgb(from var(--color-black) r g b / 0.6);
  text-align: center;
  display: grid;
  gap: 16px;
  padding: 24px;

  :global(.dark) & {
    background-color: rgb(from var(--color-black) r g b / 0.8);
  }

  @media (--viewport-md-up) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contentSlider {
  margin-top: 32px;
}
