.headerWrap {
  /* background-color: hsl(var(--heroui-primary));
  background-image: url("/images/low-contrast-linen.png");
  background-repeat: repeat;
  background-blend-mode: difference;
  box-shadow: 0 10px 15px -12px rgba(0, 0, 0, 0.4); */
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  border-bottom: 2px solid hsl(var(--heroui-primary));
}

.siteLogo {
  position: relative;
  /* top: 30px; */
  top: 0;
}

.crest {
  /* width: 220px; */
  width: 164px;
  height: auto;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.stuck {
  .siteLogo {
    top: 23px;
  }

  .crest {
    width: 105px;
  }
}

.navLink {
  @apply text-foreground text-[18px];
}
