.addressBookWrapper {
  width: 100%;
}

.header {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addressGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media (--viewport-md-up) {
    grid-template-columns: repeat(2, 1fr);
  }
}
