.schemaContent {
  composes: global-left-column from global;
}

.sidebar {
  background-color: var(--color-white);
  border-right: 1px solid var(--color-grey-200);
  display: flex;
  flex-direction: column;
}

.mainContent {
  overflow: auto;
}

.schemaTabs {
  height: 100%;
}

.tabLink {
  text-decoration: none;
}

.schemaTabsContent {
  padding: 0;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 40px;
  color: var(--text-secondary);
}
