@import "tailwindcss";
@config '../../tailwind.config.js';

@import "./variables.css" layer(utilities);
@import "./custom-media.css" layer(utilities);
@import "./theming.css" layer(utilities);
@import "./components/typography.css" layer(utilities);
@import "./components/forms.css" layer(utilities);
@import "./components/tables.css" layer(utilities);

/* @layer utilities {
  .example {
    color: #000;
    @media (prefers-color-scheme: light) {
      color: #fff;
    }
  }
} */

body {
  color: var(--color-black);
  font-family: var(--font-noto-sans);
  font-size: 16px;
}
