@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./custom-media.css";
@import "./typography.css";
@import "./variables.css";

/* @layer utilities {
  .example {
    color: #000;
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
  }
} */

body {
  color: var(--color-black);
  font-family: var(--font-lato);
  font-size: 16px;
}
