@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@plugin "@tailwindcss/typography";

@layer utilities {
  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2;
  }

  input:focus ~ label {
    @apply left-0;
  }
}

@layer components {
  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}
