.form {
  width: 100%;
}

.inputGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.doubleInputGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.tripleInputGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
