.paypalTable {
  border: none;

  tr {
    border: none;
  }
}

.tierRow {
  display: flex;
  flex-wrap: wrap;

  @media (--viewport-lg-up) {
    display: table-row;
  }
}

.tierCell {
  width: 100%;
  border: 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-300);
  }

  @media (--viewport-md-up) {
    width: 50%;

    &:first-child {
      border-right: 1px solid var(--color-grey-300);
    }
  }

  @media (--viewport-lg-up) {
    width: auto;
    &:not(:last-child) {
      border-right: 1px solid var(--color-grey-300);
      border-bottom: none;
    }
  }
}

.paypalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.select {
  width: 100%;
  max-width: 420px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--color-grey-900);
  color-scheme: light;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}

.paypalButton {
  max-width: 250px;
}

.annualDonation {
  @media (--viewport-lg-up) {
    width: 25%;
  }
}

.benefits {
  @media (--viewport-lg-up) {
    width: 41.66667%;
  }
}

.paymentOptions {
  width: 100%;

  @media (--viewport-lg-up) {
    width: 33.33333%;
  }
}
