.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 24px;
  row-gap: 32px;
  flex: 1;

  @media (--viewport-sm-up) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (--viewport-md-up) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
