.header {
  position: sticky;
  top: 0;
  z-index: 20;
  border-top: 1px solid transparent;
  /* background-color: hsl(var(--heroui-primary));
  background-image: url("/images/low-contrast-linen.png");
  background-repeat: repeat;
  background-blend-mode: difference;
  box-shadow: 0 10px 15px -12px rgba(0, 0, 0, 0.4); */
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  border-bottom: 2px solid hsl(var(--heroui-primary));
}

.siteLogo {
  transition: top 0.3s ease-in-out;

  @media (--viewport-lg-up) {
    position: absolute;
    top: -45px;
  }
}

.crest {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  transition: max-width 0.3s ease-in-out, height 0.3s ease-in-out;
  max-width: 90px;

  @media (--viewport-lg-up) {
    max-width: 150px;
  }
}

[data-page="home"] {
  .siteLogo {
    @media (--viewport-lg-up) {
      top: -45px;
    }
  }

  .crest {
    @media (--viewport-lg-up) {
      max-width: 220px;
    }
  }
}

.stuck {
  @media (--viewport-lg-up) {
    .siteLogo {
      top: 5px;
    }

    .crest {
      max-width: 105px;
    }
  }
}
