.footer {
  --color-skyline-1: var(--color-grey-400);
  --color-skyline-2: var(--color-grey-500);
  --color-skyline-3: var(--color-grey-600);
  --color-skyline-4: var(--color-grey-800);

  position: relative;
  background-color: var(--color-gold);
  background-image: url("/images/low-contrast-linen.png");
  background-repeat: repeat;
  /* background-blend-mode: difference; */
  border-top: 1px solid var(--color-border-base);
  width: 100%;
}

.skyline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.footerInner {
  composes: siteContainer from "@/styles/content.module.css";
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 16px 12px;

  @media (--viewport-md-up) {
    grid-template-columns: 1fr 3fr;
  }
}

.footerInnerOLD {
  composes: siteContainer from "@/styles/content.module.css";
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (--viewport-xs) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footerLinkGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerLinkHeading {
  font-size: 14px;
  color: var(--color-ui-fg-base);
}

.footerLinkList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  color: var(--color-ui-fg-subtle);
  font-size: 12px;
}

.footerLinkListItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerLink {
  color: var(--color-ui-fg-subtle);

  &:hover {
    color: var(--color-ui-fg-base);
  }
}

.footerLinkLarge {
  font-size: 16px;
}

.footerLinkSubList {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 12px;
  gap: 8px;
}

.footerCopyright {
  display: flex;
  width: 100%;
  margin-bottom: 64px;
  justify-content: space-between;
  color: var(--color-ui-fg-muted);
  font-size: 11px;
}

.txtCompactSmall {
  font-size: 11px;
}
