:root {
  --color-white: #ffffff;
  --color-grey-100: #f3f3f9;
  --color-grey-200: #d9d9de;
  --color-grey-300: #bfbfc3;
  --color-grey-400: #a5a5a8;
  --color-grey-500: #8b8b8e;
  --color-grey-600: #707073;
  --color-grey-700: #565658;
  --color-grey-800: #3c3c3d;
  --color-grey-900: #222222;
  --color-black: #000000;

  --color-gold: #ffb81c;
  --color-red: #c60c30;
  --color-green: #00b140;
  --color-blue: #377cfb;
  --color-blue-ada: #004bb3;

  --color-primary: var(--color-green);

  --color-success: #198754;
  --color-warning: var(--color-gold);
  --color-danger: var(--color-red);
  --color-info: var(--color-blue);

  --color-foreground-dark: var(--color-white);
  --color-background-dark: var(--color-grey-900);
  --color-foreground-light: var(--color-black);
  --color-background-light: var(--color-white);

  --color-border: var(--color-grey-200);

  /* Toast variables */
  --toast-bg: var(--color-white);
  --toast-border: var(--color-grey-200);
  --toast-success-bg: #e6f6ee;
  --toast-success-text: var(--color-success);
  --toast-error-bg: #fdf2f2;
  --toast-error-text: var(--color-danger);
  --toast-warning-bg: #fffcf0;
  --toast-warning-text: var(--color-warning);
  --toast-info-bg: #f0f7ff;
  --toast-info-text: var(--color-info);

  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --background: var(--color-white);
  --foreground: var(--color-black);

  --text-primary: var(--color-grey-900);
  --text-secondary: #666;

  --background-overlay: rgb(from var(--color-black) r g b / 0.2);

  --box-shadow: 0 3px 3px rgba(56, 65, 74, 0.1);
}

/* @media (prefers-color-scheme: dark) { */
[data-theme="dark"] {
  --color-primary: var(--color-blue);

  --background: var(--color-black);
  --foreground: var(--color-white);

  --background-overlay: rgba(32, 32, 32, 0.4);
}
