.joinForge {
  text-align: center;
  text-decoration: none;
}

.joinForgeLink {
  display: grid;
  text-align: center;
  text-decoration: none;
  gap: 8px;
}

.joinForgeText {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: var(--color-grey-900);
  }
}
