.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.groupTitle {
  font-size: 1rem;
  font-weight: 700;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.choice {
  display: flex;
  align-items: center;
  gap: 8px;
}

.help {
  font-size: 0.875rem;
  color: var(--color-grey-600);
}

.formFieldTooltip {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tooltipTrigger {
  display: inline-flex;
  align-items: center;
  color: var(--color-grey-500);

  &:hover {
    color: var(--color-grey-700);
  }
}

.tooltipIcon {
  width: 16px;
  height: 16px;
}
