.container {
  background-color: var(--color-white);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.heading {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  column-gap: 8px;
  align-items: baseline;
}

.headingDisabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.editButton {
  color: var(--fg-interactive);
  transition: color 0.15s ease-in-out;

  &:hover {
    color: var(--fg-interactive-hover);
  }
}

.paymentElementWrapper {
  margin-top: 20px;
  transition: all 0.15s ease-in-out;
}

.summaryColumn {
  display: flex;
  flex-direction: column;
  width: 33.333333%;
}

.summaryTitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--fg-base);
  margin-bottom: 4px;
}

.summaryText {
  font-size: 14px;
  line-height: 20px;
  color: var(--fg-subtle);
}

.submitButton {
  margin-top: 24px;
}

.summaryGrid {
  display: flex;
  align-items: flex-start;
  column-gap: 4px;
  width: 100%;
}

.summaryDetail {
  display: flex;
  column-gap: 8px;
  font-size: 14px;
  line-height: 20px;
  color: var(--fg-subtle);
  align-items: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  height: 28px;
  width: fit-content;
  padding: 8px;
  background-color: var(--bg-button-neutral-hover);
  border: none;
  border-radius: 4px;
}

.divider {
  margin-top: 32px;
}
