.footer {
  --color-skyline-1: var(--color-grey-400);
  --color-skyline-2: var(--color-grey-500);
  --color-skyline-3: var(--color-grey-600);
  --color-skyline-4: var(--color-grey-800);
  background-color: var(--color-gold);
  background-image: url("/images/low-contrast-linen.png");
  background-repeat: repeat;
  /* background-blend-mode: difference; */
  border-top: 2px solid var(--color-red);
}
