.headerTop {
  display: none;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  border-bottom: 2px solid var(--color-grey-800);
  z-index: 11;

  @media (--viewport-lg-up) {
    display: flex;
  }
}
