.header {
  position: sticky;
  top: 0;
  z-index: 20;
  border-top: 1px solid transparent;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  border-bottom: 2px solid var(--color-gold);
}

.siteLogo {
  transition: top 0.3s ease-in-out;

  @media (--viewport-lg-up) {
    position: absolute;
    left: 0;
    top: -45px;
  }
}

.crest {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  transition: max-width 0.3s ease-in-out, height 0.3s ease-in-out;
  max-width: 90px;

  @media (--viewport-lg-up) {
    max-width: 150px;
  }
}

.stuck {
  @media (--viewport-lg-up) {
    .siteLogo {
      top: 5px;
    }

    .crest {
      max-width: 105px;
    }
  }
}

.headerContainer {
  composes: siteContainer from "@/styles/content.module.css";
}

.headerInner {
  position: relative;
  padding-left: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navControls {
  display: flex;
  align-items: center;
  gap: 16px; /* gap-4 */
}

.navLink {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 12px;
  color: var(--color-white);
  text-decoration: none;

  @media (prefers-color-scheme: light) {
    color: var(--color-black);
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.backToCartIcon {
  margin-right: 8px; /* mr-2 */
}
